
.signup-container {
  width: 568px;
  height: 675px;
  border: 1px solid #ccc;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.header {
  height: auto;
  width: 488px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header h3 {
  clear: both;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #6E7491;
  text-align: left;
}

.CheckIcon {
  margin-left: auto;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 20px;
  color: #7C8DB0;
}

input[type="checkbox"] {
  margin-right: 6px;
}

input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 0px !important;
  padding: 0;
}

.terms-link {
  color: #605DEC;
  text-decoration: none;
}

.signup-button {
  box-sizing: border-box;
  background-color: #605DEC;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.signup-button:hover {
  background-color: #5242BA;
  width: 100%;
}

p {
  position: relative;
  text-align: center;
}

p::before,
p::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 43%;
  border-top: 1px solid #d9d9d9;
  margin: 0 10px;
}

.social-buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #605DEC;
  width: 100%;
  background: none;
}

.social-buttons button {
  color: #605DEC;
  width: 100%;
  padding: 8px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 10px;
  border: 1px solid #605DEC;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  background-color: transparent;
}

.social-button:hover {
  background-color: transparent;
}

.social-button-content {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.btn {
  width: 100%;
}

.social-icon {
  margin-right: 10px;
  font-size: 18px;
  float: left;
  margin-left: 0;
}
